@media screen and (max-width: 480px){
    .portifolio{
        height: auto;
    }
    .titulo-portifolio{
        text-align: center;
        font-size: 2rem;
    }
    .titulo-conteudo-portifolio{
        font-size: 25px;
    }

    /*STORY*/
    .slider-story{
        width: 360px;
    }
    .slides-story{
        width: 1100px;
        gap: 40px;
    }
    .img-story{
        width: 160px;
        position: relative;
        transition: 1s;
        align-items: center;
    }
    .img-story img{
        width: 100%;
        height: auto;
    }
    .manual-navigation-story{
        position: absolute;
        width: 360px;
        margin-top: -30px;
        display: flex;
        justify-content: center;
    }
    .manual-btn-story{
        border: 2px solid var(--color-2);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .manual-btn-story:not(:last-child){
        margin-right: 30px;
    }
    .manual-btn-story:hover{
        background-color: var(--color-2);
    }
    #radio1-story:checked ~ .first-story{
        margin-left: 0;
    }
    #radio2-story:checked ~ .first-story{
        margin-left: -200px;
    }
    #radio3-story:checked ~ .first-story{
        margin-left: -400px;
    }

    .navigation-auto-story div{
        border: 2px solid var(--color-2);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .navigation-auto-story{
        position: absolute;
        width: 360px;
        margin-top: -30px;
        display: flex;
        justify-content: center;
    }
    .navigation-auto-story div:not(:last-child){
        margin-right: 30px;
    }
    
    #radio1-story:checked ~ .navigation-auto-story .auto-btn1-story{
        background-color: var(--color-2);
    }
    #radio2-story:checked ~ .navigation-auto-story .auto-btn2-story{
        background-color: var(--color-2);
    }
    #radio3-story:checked ~ .navigation-auto-story .auto-btn3-story{
        background-color: var(--color-2);
    }
    #radio1-story:checked ~ .slides-story { 
        transform: translateX(0);
    }
    #radio2-story:checked ~ .slides-story {
        transform: translateX(-201px);
    }
    #radio3-story:checked ~ .slides-story {
        transform: translateX(-400px);
    }


    /*CARROSSEL*/
    .conteudo-carrossel{
        gap: 30px;
    }
    .galeria-horizontal-1,
    .galeria-horizontal-2 {
      overflow-x: auto;
      scroll-behavior: smooth;
      padding-bottom: 0.5rem;
    }

    .galeria-horizontal-1::-webkit-scrollbar,
    .galeria-horizontal-2::-webkit-scrollbar {
      height: 8px;
    }

    .galeria-horizontal-1::-webkit-scrollbar-thumb,
    .galeria-horizontal-2::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 4px;
    }
    .img-carrossel{
        max-width: 300px;
    }

    /*REELS*/
    .slider-reels{
        width: 360px;
    }
    .slides-reels{
        width: 1100px;
        gap: 40px;
    }
    .img-reels{
        width: 160px;
        position: relative;
        transition: 1s;
    }
    .img-reels img{
        width: 100%;
        height: auto;
    }
    .manual-navigation-reels{
        position: absolute;
        width: 360px;
        margin-top: -30px;
        display: flex;
        justify-content: center;
    }
    .manual-btn-reels{
        border: 2px solid var(--color-2);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .manual-btn-reels:not(:last-child){
        margin-right: 30px;
    }
    .manual-btn-reels:hover{
        background-color: var(--color-2);
    }
    #radio1-reels:checked ~ .first-reels{
        margin-left: 0;
    }
    #radio2-reels:checked ~ .first-reels{
        margin-left: -200px;
    }
    #radio3-reels:checked ~ .first-reels{
        margin-left: -400px;
    }

    .navigation-auto-reels div{
        border: 2px solid var(--color-2);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .navigation-auto-reels{
        position: absolute;
        width: 360px;
        margin-top: -30px;
        display: flex;
        justify-content: center;
    }
    .navigation-auto-reels div:not(:last-child){
        margin-right: 30px;
    }
    
    #radio1-reels:checked ~ .navigation-auto-reels .auto-btn1-reels{
        background-color: var(--color-2);
    }
    #radio2-reels:checked ~ .navigation-auto-reels .auto-btn2-reels{
        background-color: var(--color-2);
    }
    #radio3-reels:checked ~ .navigation-auto-reels .auto-btn3-reels{
        background-color: var(--color-2);
    }
    #radio1-reels:checked ~ .slides-reels { 
        transform: translateX(0);
    }
    #radio2-reels:checked ~ .slides-reels {
        transform: translateX(-201px);
    }
    #radio3-reels:checked ~ .slides-reels {
        transform: translateX(-400px);
    }
    .botao-portifolio{
        width: 60%;
    }

    .modal-content{
        width: 80%;
        max-width: none;
        height: auto;
        overflow-y: auto;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    
}