.portifolio{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 5rem;
}
.titulo-portifolio{
    font-size: 4rem;
    font-family: var(--brown);
    color: var(--color-2);
}
.conteudo-portifolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}
.titulo-conteudo-portifolio{
    font-family: var(--montserrat);
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-2);
}

/*STORY*/
.container-story{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
}

.slider-story{
    width: 100%;
    position: static;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}
.slides-story{
    display: flex;
    gap: 2rem;
}
.slides-story input{
    display: none;
}
.img-story{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 16.2rem;
    transition: transform 1s; /* Efeito de transição */
    cursor: pointer;
}
.img-story img{
    width: 100%;
    height: auto;
}

/*CARROSSEL*/
.container-carrossel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
}
.conteudo-carrossel{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}
.galeria-horizontal-1,
.galeria-horizontal-2 {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory; /* opcional pra scroll suave */
}

/* Estilo das imagens */
.img-carrossel {
    max-width: 18rem;
    flex: 0 0 auto;
}

.img-carrossel img {
    width: 100%;
    object-fit: cover;   /* cobre sem distorcer */
    display: block;
}

/*REELS*/
.container-reels{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
}
.slider-reels{
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}
.slides-reels{
    display: flex;
    gap: 2rem;
}
.slides-reels input{
    display: none;
}
.img-reels{
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 16.2rem;
    transition: transform 1s; /* Efeito de transição */
    cursor: pointer;
}
.img-reels img{
    width: 100%;
    height: auto;
}



.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.modal-content {
    width: auto;
    margin: auto;
    display: block;
    max-width: 2000px;
    max-height: 90vh;
    object-fit: contain;
    transition: transform 0.3s ease; /* Adicionando transição para o zoom */
    cursor: pointer; /* Mudando o cursor para indicar que a imagem pode ser clicada */
}
.modal-content.img-carrossel {
    max-width: none; /* Permite que a imagem seja maior que a tela */
    width: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 768px) {
    .modal-content {
        width: auto;
        max-width: none;
        height: 90vh;
        overflow-y: auto;
    }
}