header {
    width: 100vw;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-1);
    position: fixed;
    z-index: 5;
}
.logo{
    width: 9.4rem;
    margin: 0 3rem;
}
.logo img{
    width: 100%;
}
.nav{
    margin: 0 2rem;
}
.nav ul{
    list-style: none;
    display: flex;
}

.nav ul li{
    margin: 0 1.5rem;
}
.nav ul li a {
    font-family: var(--montserrat);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-2);
    text-decoration: none;
}

.hamburger {
    display: none;
}