header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-1);
}
.logo{
    width: 150px;
    margin: 75px;
}
.logo img{
    width: 100%;
}
.nav{
    margin: 0 40px;
}
.nav ul{
    list-style: none;
    display: flex;
}

.nav ul li{
    margin: 0 25px;
}
.nav ul li a {
    font-family: var(--montserrat);
    font-size: 20px;
    font-weight: 600;
    color: var(--color-2);
    text-decoration: none;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--color-2);
}