@media screen and (max-width: 480px){
    .pack{
        flex-direction: column;
        gap: 20px;
        margin: 5rem 0;
    }
    .img-pack{
        width: 95%;
    }
    .container-pack{
        align-items: center;
    }
    .titulo-pack{
        font-size: 2.5rem;
        margin-bottom: 5px;
    }
    .logo-pack{
        width: 5rem;
        align-self: flex-start;
    }
    .texto-pack{
        align-items: flex-start;
        font-size: 17px;
        margin: 25px 30px;
        white-space: normal;
    }
    .botao-pack{
        width: 60%;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    
}