.realtime{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}
.container-titulo-realtime{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo-realtime{
    font-size: 3.5rem;
    font-family: var(--brown);
    color: var(--color-2);
}
.subtitulo-realtime{
    font-size: 1.7rem;
    font-family: var(--montserrat);
    color: var(--color-2);
    margin-bottom: 2rem;
}
.container-realtime{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

/* Estilo da foto */
.foto-realtime{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.foto-player {
    width: 15rem;
    cursor: pointer;
}
.conteudo-realtime{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.texto-realtime{
    width: 50rem;
    font-family: var(--montserrat);
    font-size: 1.5rem;
    color: var(--color-2);
}
.slider-realtime{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: var(--color-1);
    gap: 5rem;
}
.conteudo-slider-realtime{
    font-family: var(--montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-2);
    white-space: pre-line;
}




/* Estilo do modal */
.modal-player {
    display: none; /* Modal oculto por padrão */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8); /* Fundo escuro */
    justify-content: center;
    align-items: center;
}

/* Conteúdo do modal */
.modal-content-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    width: 80%;
    height: 80%;
}

.modal-content-player iframe {
    width: 100%;
    height: 100%;
}

/* Botão de fechar */
.close-player {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}