.decoracao-svg{
    position: absolute; /* Permite posicionar em relação ao body */
    max-width: 1400px;
    height: auto;
    z-index:-1;
}
/* Posicionamento dos SVGs */
.svg1 {
    top: 450px;
    left: -690px;
}
.svg2{
    left: 1400px;
    top: 1300px;
    transform: rotate(-160deg);
}
.svg3{
    left: -740px;
    top: 2500px;
    transform: rotate(-30deg);
}
.svg4{
    left: 1300px;
    top: 4400px;
    transform: rotate(-30deg);
}

@media screen and (max-width: 480px){
    .decoracao-svg{
        max-width: 600px;
    }
    .svg1{
        left: -18rem;
        top: 60vh;
    }
    .svg2{
        left: 9rem;
        right: -40rem;
        top: 70rem;
        transform: rotate(-20deg);
    }
    .svg3{
        left: -20rem;
        top: 130rem;
        transform: rotate(-10deg);
    }
    .svg4{
        left: 9rem;
        right: -20rem;
        top: 220rem;
        transform: rotate(-10deg);
    }
}