@media screen and (max-width: 480px){
    .extra{
        height: auto;
        gap: 20px;
        margin: 5rem 0;
    }
    .titulo-extra{
        font-size: 40px;
    }
    .container-texto-extra{
        flex-direction: column;
        gap: 10px;
    }
    .texto-extra{
        font-size: 0.85rem;
    }
    .botao-extra{
        width: 60%;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    
}