@media screen and (max-width: 480px){
    .sobre{
        height: auto;
        margin: 4.5rem 0;
        gap: 1.5rem;
    }
    .titulo-sobre{
        font-size: 2rem;
    }
    .texto-sobre{
        width: 85%;
        font-size: 1rem;
    }
    .img-sobre{
        width: 85%;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    
}
@media (min-width: 768px) and (max-width: 1024px){
    .sobre{
        margin: 0 0;
    }
}