.pack{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.img-pack{
    width: 800px;
}
.container-pack{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.titulo-pack{
    font-family: var(--montserrat);
    font-size: 100px;
    line-height: 0.9;
    color: var(--color-2);
    white-space: pre-line;
    margin-bottom: 20px;
}
.logo-pack{
    width: 180px;
}
.texto-pack{
    font-family: var(--montserrat);
    font-size: 25px;
    color: var(--color-2);
    white-space: pre-line;
    margin: 25px 0 25px;
}