.inicio{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 0 4rem;
}
.conteudo-inicio{
    width: 45rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.texto-inicio{
    color: var(--color-2);
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 400;
    white-space: pre-line;
}
.botao-inicio{
    display: flex;
    gap: 50px;
}
.logo-inicio{
    width: 35rem;
}