@media screen and (max-width: 480px){
    .inicio{
        gap: 10px;
        margin: 18rem 0;
    }
    .logo-inicio{
        width: 80%;
    }
    .conteudo-inicio{
        width: 85%;
        flex-direction: column;
        align-items: center;
    }
    .texto-inicio{
        font-size: 1rem;
    }
    .botao-inicio{
        width: 70%;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .inicio{
        gap: 2rem;
        margin: 15rem 0;
    }
    .logo-inicio{
        width: 60%;
    }
    .conteudo-inicio{
        width: 75%;
        gap: 4rem;
        flex-direction: column;
        align-items: center;
    }
    .botao-inicio{
        width: 50%;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .inicio{
        margin: 18rem 0 12rem;
    }
}

@media screen and (min-width: 1025px){
    .inicio{
        margin: 20rem 0 12rem;
    }
}